<h1>Test _SESSION_SI simple</h1>

<h4>SI{nom} + FIN</h4>
#_SESSION_SI{nom}
<pre>
OUI IL Y A UNE_SESSION avec un nom
son nom est #_SESSION{nom}
</pre>
#_SESSION_FIN 
C'est tout (pas de partie SINON).

<h4>SI{nom} + SINON + FIN</h4>
#_SESSION_SI{nom}
<pre>OUI IL Y A UNE_SESSION avec un nom
son nom est #_SESSION{nom} 
</pre>
#_SESSION_SINON
<pre>
NON le _session courant n'est pas connecté
</pre>
#_SESSION_FIN  
Voilà.

<h4>SI{nom,==,JLuc} + FIN</h4>
#_SESSION_SI{nom,==,JLuc}
<pre>
OUI IL Y A UNE_SESSION avec un nom JLuc
son nom est #_SESSION{nom}
</pre>
#_SESSION_FIN 
C'est tout (pas de partie SINON).

<h4>SI{nom,==,JLuc} + SINON + FIN</h4>
#_SESSION_SI{nom,==,JLuc}
<pre>OUI IL Y A UNE_SESSION avec un nom JLuc
son nom est #_SESSION{nom} 
</pre>
#_SESSION_SINON
<pre>
NON le _session courant s'il y en a un n'est pas JLuc
</pre>
#_SESSION_FIN  

Voilà fini.

<hr>
<h3>Tous les tests</h3>
<ul>
<li><a href="?page=test_visiteur">test_visiteur</a></li>
<li><a href="?page=test_visiteur_etendu">test_visiteur_etendu</a></li>
<li><a href="?page=test_visiteur_si">test_visiteur_si</a></li>
<li><a href="?page=test_visiteur_si_etendu">test_visiteur_si_etendu</a></li>
</ul>
