id : #_SESSION{id_auteur}<br>
nom : #_SESSION{nom}<br>
statut : #_SESSION{statut}<br>
<br>
<br>avant autoriser_si webmestre<br>

#_AUTORISER_SI{webmestre}
webmestre
#_AUTORISER_SINON
pas webmestre
#_AUTORISER_FIN

<br>après<br>
<br>avant autoriser_si modifier article 2<br>

#_AUTORISER_SI{modifier,article,2}
peut modifier article 2
#_AUTORISER_SINON
peut pas modifier article 2
#_AUTORISER_FIN

<br>après<br>
