<h4>Comparaison avec == </h4>

<b>Le nom est : #_SESSION{nom}</b>
<ul>
<li>_session nom == JLuc : #_SESSION{nom,==,JLuc}</li>
<li>_session nom == G : #_SESSION{nom,==,G}</li>
<li>_session nom != JLuc : #_SESSION{nom,!=,JLuc}</li>
<li>_session nom != G : #_SESSION{nom,!=,G}</li>
<li>_session nom > F : #_SESSION{nom,>,F}</li>
<li>_session nom < F : #_SESSION{nom,<,F}</li>
<li>_session nom > G : #_SESSION{nom,>,G}</li>
<li>_session nom < G : #_SESSION{nom,<,G}</li>
<li>_session nom > J : #_SESSION{nom,>,J}</li>
<li>_session nom < J : #_SESSION{nom,<,J}</li>
<li>_session nom > K : #_SESSION{nom,>,K}</li>
<li>_session nom < K : #_SESSION{nom,<,K}</li>
</ul>
