<ul>
<li>nom:«#_SESSION{nom}» et _session{nom,strlen}:#_SESSION{nom,strlen}</li>
<li>nom:«#_SESSION{nom}» et _session{nom,mb_strtoupper}:#_SESSION{nom,mb_strtolower}</li>
<li>nom:«#_SESSION{nom}» et _session{nom,concat,plof}:#_SESSION{nom,concat,plof}</li>
<li>nbreste:«#_SESSION{nbreste}» et _session{nbreste,plus,3}:#_SESSION{nbreste,plus,3}</li>
</ul>

<hr>
<h3>Tous les tests</h3>
<ul>
<li><a href="?page=test_visiteur">test_visiteur</a></li>
<li><a href="?page=test_visiteur_etendu">test_visiteur_etendu</a></li>
<li><a href="?page=test_visiteur_si">test_visiteur_si</a></li>
<li><a href="?page=test_visiteur_si_etendu">test_visiteur_si_etendu</a></li>
</ul>
