<h1>Tests de la balise # _SESSION</h1>

<ul>
<li>_session : #_SESSION</li>
<li>_session nom : #_SESSION{nom}</li>
<li>_session{nom,strlen} : #_SESSION{nom,strlen}</li>
<li>_session{nom, strlen } avec espaces à strlen : #_SESSION{nom, strlen }</li>
<li>_session{ nom,strlen} avec espaces avant nom : #_SESSION{ nom,strlen}</li>
<li>_session{nom ,strlen} avec espaces après nom : #_SESSION{nom ,strlen}</li>
<li>_session{nom,n'existe pas} : #_SESSION{nom,n'existe pas}</li>
</ul>

<hr>
<h3>Tous les tests</h3>
<ul>
<li><a href="?page=test_visiteur">test_visiteur</a></li>
<li><a href="?page=test_visiteur_etendu">test_visiteur_etendu</a></li>
<li><a href="?page=test_visiteur_si">test_visiteur_si</a></li>
<li><a href="?page=test_visiteur_si_etendu">test_visiteur_si_etendu</a></li>
</ul>
