<h1>Test # _SESSION avec _SI, _SINON, _FIN et accés session étendue</h1>
<ul>
<li>nom : #_SESSION{nom}</li>
<li>est abonne : #_SESSION{est_abonne}</li>
<li>nbreste : #_SESSION{nbreste}</li>
<li>a reçu : #_SESSION{envois_revues_liste}</li>
<li>SI nbreste : 
#_SESSION_SI{nbreste}
il vous reste des numéros à recevoir
#_SESSION_SINON
	#_SESSION_SI{a_ete_abonne}
		votre abo est fini !
	#_SESSION_SINON
		il faudrait vous abonner !
	#_SESSION_FIN
#_SESSION_FIN
</li>
