<pre>

_ id_auteur : #_SESSION{id_auteur}
<br>

_ id_auteur non : #_SESSION{id_auteur,non}
<br>

_ id_auteur ! : #_SESSION{id_auteur,!}
<br>

_ vide : #_SESSION{vide}
<br>

_ vide non : #_SESSION{vide,!}
<br>

avant
<br>
#_SESSION_SI{id_auteur,!}
pas dauteur
#_SESSION_SINON
ya un auteur
#_SESSION_FIN
aprés
</pre>
